main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 45 vh;
  width: 35%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}
// .login-form {
//   display: flex;
// }

.login-btn {
  margin-top: 30px;
}
