<!-- <div class="container-fluid bg-white border border-dark">
    <div class="form-group row ml-5 mr-5">
      <div class="form col-4 ">
        <input class="bg" type="text" [formControl]="userName" required/>
        <label for="inputEmail3" class="label-name"><Span class="content-name ">Username</Span></label>
      </div>
    </div>
    <div class="form-group row ml-5 mr-5">
      <div class="form col-4 ">
        <input class="bg" type="text" [formControl]="firstName" required/>
        <label for="inputEmail3" class="label-name"><Span class="content-name ">First Name</Span></label>
      </div>
    </div>
    <div class="form-group row ml-5 mr-5">
      <div class="form col-4 ">
        <input class="bg" type="text" [formControl]="lastName" required/>
        <label for="inputEmail3" class="label-name"><Span class="content-name ">Last Name</Span></label>
      </div>
    </div>
    <div class="form-group row ml-5 mr-5">
      <div class="form col-4 ">
        <input class="bg" type="password" [formControl]="password" required/>
        <label for="inputEmail3" class="label-name"><Span class="content-name ">Password</Span></label>
      </div>
    </div>
    
  </div>
   -->